.jumbotron{
    text-align: center;
}
#intro{
    margin-top:5%;
}

#date-input{
    margin-left: 20%;
    margin-right: 60%;
    margin-top: 5%;
}
.gender{
    margin-left: 20%;
   

}

.page-footer{
    background-color: black;
    

}
.footer-copyright{
    color: white;
}