.jumbotron{
    height: 30vh;
    text-align: center;
    background-image: url(https://us.123rf.com/450wm/mehaniq/mehaniq1912/mehaniq191202840/135359842-ghana-flag-depicted-in-paint-colors-on-old-stone-wall-close-up-textured-banner-on-rock-wall-backgrou.jpg?ver=6);
 
    background-repeat: no-repeat;
    background-size:cover;
}

#intro{
    margin-top:5%;
}

.date-input{
    margin-left: 20%;
    margin-right: 60%;
    margin-top: 5%;
}
.gender{
    margin-left: 20%;
   

}
.resetBtn{
     margin-top: 5%;
    
}
#result{
    font-weight: bold;
    margin-top: 5%;
}

.page-footer{
    background-color: black;
    

}
.footer-copyright{
    color: white;
}